<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/logInSignUp.css">
    <title>아이디 찾기 성공</title>
</head>
<body>
    <div id="wrapper">
            <a href="/main">
                <img src=images/logo.png>
            </a>
    
        <div id="wrapper-form">
            <div id="box_pagename">아이디 찾기</div>
    
            <div id="box_login">
                    <div id="message">회원님의 아이디는 "<span>[[${id}]]</span>" 입니다.</div>
                    <button class="w-btn w-btn-indigo" type="submit">로그인</button>  
            </div>
            <div id="box_link1">
                <div id="box-find2">
                    <a href="findpw">비밀번호 찾기</a>
                </div>
            </div>
   
        </div>

    </div>
</body>
</html>