<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/logInSignUp.css">
    <title>회원가입 성공</title>
</head>
<body>
    <div id="wrapper">
            <a href="/main">
                <img src=images/logo.png>
            </a>
    
        <div id="wrapper-form">
            <div id="box_pagename">회원가입</div>
    
            <div id="box_login">
                    <div id="message">환영합니다!<br>회원가입이 정상적으로 완료되었습니다.</div>
                    <form action="/login"><button class="w-btn w-btn-indigo" type="submit" style="margin-bottom: 3vh;">로그인</button></form>
            </div>
        </div>

    </div>
</body>
</html>